*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

ul{ 
    list-style: none;
    font-size: 1em;
    text-align: center;
    margin:auto;
    padding: 0;
    background-color: #a9a9a9;
    overflow: hidden;
    justify-content: space-between;}

h1 { border: solid black 2px; }

h2{ 
    background-color: #bed4e9;
    border: solid 2px; 
    text-align: center;
}
    



body{ background-color: #bed4e9;}

main{
    background-color: white;

    }

.container-md{ 
    position: relative;
    text-align: center;
    color: Black; }

.program_name{ 
    position: relative;
    text-align: center;
    color: Black; 
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    

    border: 2px solid red;
    
    
}

li{
    display: inline-block;
    border: solid;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px; }

header{
    border: 2px black solid;
    
    
}


    

footer{

    background-color:#bed4e9;
    color: black;
    border: 5px solid #a9a9a9;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    min-height: 30px;
    z-index:1000;
    display: flex;
    justify-content: space-evenly;
    }
  
    #rightside{
        border:2px green solid;
        
    }

    #leftside{
        border:2px purple solid;
    }

    




